<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <title>Wydatki - Wykresy</title>
    <meta charset="utf-8">
    <meta name="description" content="Analiza i prezentacja codziennych wydatków">
    <meta name="author" content="Marek Kwak, Piotr Węgrzyn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <script src="/chart.min.js"></script> -->

</head>
<body class="charts-body">
    <header class="header">
        <a href="index.html">
            <div class="header-logo">
                WYDATKI
            </div>
        </a>

        <div class="header-subdomain">
            <form action="/wallet">
                <select name="wallet" class="header-wallet">
                    <option>Pierwszy portfel</option>
                    <option>Drugi portfel</option>
                </select>
            </form>
        </div>

        <a href="settings.html">
            <div class="header-settings">
                Ustawienia
            </div>
        </a>
        
        <a href="signin.html">
            <div class="header-logout">
                Wyloguj
            </div>
        </a>
    </header>

    <main class="charts-main">
        <div class="chart-container1 nav-container">
            <div class="chart-header">
                <div class="chart-button-left chart-button">
                    ←
                </div>
                <div class="chart-title settings-category-text">
                    Saldo konta
                </div>
                <div class="chart-button-right chart-button">
                    →
                </div>
            </div>

            <div class="chart">
                <canvas id="chart-balance"></canvas>
            </div>
        </div>

        <div class="chart-container2 nav-container">
            <div class="chart-header">
                <div class="chart-button-left chart-button">
                    ←
                </div>
                <div class="nav-keyvalue chart-title">
                    <div class="nav-key">
                        Według kategorii:
                    </div>
                    <div class="nav-value">
                        <select class="header-wallet new-list">
                            <option>Pierwsza</option>
                            <option>Druga</option>
                        </select>
                    </div>
                </div>
                <div class="chart-button-right chart-button">
                    →
                </div>
            </div>

            <div class="chart">
                <canvas id="chart-category"></canvas>
            </div>
        </div>
    </main>
</body>

<script>
    const labels = [
      'Pon',
      'Wt',
      'Śr',
      'Czw',
      'Pt',
      'Sob',
      'Nie',
    ];
  
    const data1 = {
        labels: labels,
        datasets: [{
            label: 'Saldo konta',
            backgroundColor: 'rgb(255, 255, 255)',
            borderColor: 'rgb(244, 101, 36)',
            data: [0, 10, 5, 2, 20, 30, 45],
        }]
    };
  
    const data2 = {
        labels: labels,
        datasets: [{
        label: 'Kategoria',
        backgroundColor: 'rgb(255, 255, 255)',
        borderColor: 'rgb(244, 101, 36)',
        data: [1, 3, 2, 2, 6, 4, 5],
        }]
    };
  
    const config1 = {
      type: 'line',
      data: data1,
      options: {
        responsive: true,
        maintainAspectRatio: false
      }
    };

    const config2 = {
      type: 'line',
      data: data2,
      options: {
        responsive: true,
        maintainAspectRatio: false
      }
    };

    const balance = new Chart(
        document.getElementById('chart-balance'),
        config1
    );

    const category = new Chart(
        document.getElementById('chart-category'),
        config2
    );

  </script>
</html>