<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <title>Wydatki</title>
    <meta charset="utf-8">
    <meta name="description" content="Analiza i prezentacja codziennych wydatków">
    <meta name="author" content="Marek Kwak, Piotr Węgrzyn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header class="header">
        <a href="/">
            <div class="header-logo">
                WYDATKI
            </div>
        </a>

        <div class="header-subdomain">
            <form action="/" method='POST'>
                <select name="wallet" class="header-wallet" onchange="this.form.submit()">
                    <option value="" disabled selected>Zmień portfel:</option>
                {% for wallet in wallets %}
                    <option value="{{ wallet[0] }}">{{ wallet[1] }}</option>
                {% endfor %}
                </select>
            </form>
        </div>

        <a href="/settings">
            <div class="header-settings">
                Ustawienia
            </div>
        </a>
        
        <a href="/logout">
            <div class="header-logout">
                Wyloguj
            </div>
        </a>
    </header>

    <div class="body">
        <nav class="nav">
            <div class="nav-container">
                <div class="nav-title">
                    {{ wallet[0] }}
                </div>

                <div class="nav-keyvalue">
                    <div class="nav-key">
                        Bilans:
                    </div>

                    <div class="nav-value">
                        {{ wallet[1] }} {{ wallet[2] }}
                    </div>
                </div>
        
                <div class="nav-keyvalue">
                    <div class="nav-key">
                        Ilość transakcji:
                    </div>
                    <div class="nav-value">
                        1234
                    </div>
                </div>
            </div>

            <a href="/show">
                <div class="nav-button">
                    Pokaż wykresy
                </div>
            </a>

            <a href="/new">
                <div class="nav-button">
                    + Nowy wydatek
                </div>
            </a>

            
    
        </nav>
        
        <main class="main">
            {% for ele in expenses %}
            <div class="main-item">
                <div class="main-item-title">
                    {{ ele[1] }}
                </div>
                
                <div class="main-item-category">
                    {{ ele[5] + " / " + ele[4] }}
                </div>

                <div class="main-item-value">
                    {{ ele[2] }}
                </div>

                <div class="main-item-date">
                    {{ ele[3] }}
                </div>
    
                <div class="main-item-controls">

                    <span>:</span>

                    <div class="main-item-controls-container">
                        <a href="/update">
                            <div class="main-item-edit">Edytuj</div>
                        </a>

                        <a href="/delete-expense?expense_id={{ele[0]}}">
                            <div class="main-item-delete">Usuń</div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </main>
    </div>
</body>
</html>